---
layout: page
title: "About"
description: "Hey, this is Warner."
header-img: "img/bg/post-about-warner.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote>
        <p>be do have</p>
        <p>be (생각) 먼저 성공한 개발자가 되고 do (행동) 성공한 개발자처럼 행동하면 have (결과) 얻을것이다.</p>
    </blockquote>

    <p>【좌우명】：<strong>10배</strong></p>

    <h6>영혼을 가진 개발자가 되자.</h6>
    <ol>
        <li>수(水)，물이 맑아 보이는 것은 불순물이 없기 때문이 아니라 가라앉을 줄 아는 것입니다.</li>
        <li>신(心)，마음을 통투해 보이는 것은, 잡념이 없어서가 아니라 바로 알고 선택할 줄 알기 때문이다.</li>
        <li>인(人)，사람이 간단해 보이는 것은, 그가 생각이 없기 때문이 아니라 지혜와 겸손을 겸비했기 때문이다.</li>
    </ol>

    <h6>프로그래머의 맹세</h6>
    <p> 프로그래머의 직업적 명예를 지키고 유지하기 위해, 저는 최선을 다할 것을 약속합니다.：</p>
    <ol>
        <li>나는 유해한 코드를 만들지 않습니다.</li>
        <li>내가 만든 코드는 언제나 제 최고의 작품입니다. 저는 행동이나 구조에 결함이 있는 코드를 의도적으로 허용하지 않습니다.</li>
        <li>나는 작게 자주 배포하여 다른 분들의 진행을 방해하지 않겠습니다.</li>
        <li>나는 모든 기회를 놓치지 않고, 두려움 없이, 끊임없이 제 코드를 개선할 것입니다.</li>
        <li>나는 내 자신과 타인의 생산력을 유지할 수 있도록 최선을 다할 것입니다.</li>
        <li>나는 다른 사람들의 일을 계속 지원할 것이며, 그들도 나의 일을 지원할 수 있도록 할 것입니다.</li>
        <li>나는 지키지 못할 약속을 하지 않겠습니다.</li>
        <li>나는 기술을 배우고 향상시키는 것을 멈추지 않을 것입니다.</li>
    </ol>
</div>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: '{{site.gitalk.distractionFreeMode}}',
        id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

